/* ===== AUTO-BUILDING ===== */
.auto {
    margin: .375rem .375rem 0 0;
    border-radius: 4px;

    width: 12.625rem; /* As defined for most buttons in the game */

    display: flex;
    text-align: center;
    justify-items: center;

    background-color: #3c3836;
    
    /* Disabled text color by default */
    color: #fb4934;
    
    cursor: pointer;
}

.auto:hover {
    background-color: #504945;
}

.auto.on {
    color: #8ec07c;
}

.auto span {
    flex:1;
}

.top-right {
    position: absolute;
    top: 7px;
    right: 7px;

    width: 16px;
    height: 16px;

    padding: 1px;

    border-bottom-left-radius: 7px;
    border-top-right-radius: 4px;

    pointer-events: none;

    background-color: #282828;
}

.top-right > .icon {
position: absolute;

    width: 14px;
    height: 14px;
}