.auto-attack-button {
    width: 8rem;

    border-color: #dbdbdb;
    border-width: 1px;
    border-style: solid;

    transition: all 200ms ease;

    &:hover {
        border-color: #b5b5b5;
    }
}