.auto-building {
    &:hover {
        color: #689d6a;
    }
    
    &.toggled {
        color: #689d6a;
        border-color: #689d6a;
    }

    &.paused {
        color: #83a598;
        background-color: transparent;
        border-color: #3c3836;

        &:hover {
            background-color: #504945;
        }

        &.toggled {
            border-color: #83a598;
            color: #83a598;
        }
    }
}

.pause-button {
    color: #83a598;
    background-color: transparent;
    border-color: #3c3836;
    border-style: solid;
    border-width: 1px;

    transition: all 200ms ease;

    &:hover {
        color: #fb4934;
    }

    &.toggled {
        border-color: #fb4934;
        color: #fb4934;
    }
}