.auto-industry.wrapper {
    display: flex;
    justify-content: center;

    margin-top: .375rem;
}

.item-ratio-wrapper {
    display: inline-flex;

    position: relative;
    bottom: .0625rem;

    line-height: 1rem;
    
    .content {
        margin-bottom: 0;

        font-size: .875rem;
        min-width: 5rem;

        border-top-width: .0625rem;
        border-bottom-width: .0625rem;

        border-top-color: #665c54;
        border-bottom-color: #665c54;

        border-top-style: solid;
        border-bottom-style: solid;
    }
}

.auto-industry-toggle-addon {
    display: inline-flex;
    align-items: center;
    width: unset;

    margin: 0;
    background: transparent;

    border: #665c54 solid .0625rem;
    border-radius: .375rem 0 0 .375rem;
    border-right: 0;

    padding: 0 .125rem 0 .125rem;

    &.toggled {
        border-color: #665c54;
    }

    &+* {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        margin-left: 0;
    }
}

.factory .icon-wrapper {
    margin-left: 0.25rem;
    margin-right: 0.125rem;
}