@mixin inactive {
    color: #504945;
    border-color: #504945;
    background-color: transparent;
    cursor: default;

    &:hover:not(.inactive),
    &.toggled {
        color: #d3869b;
    }

    &.toggled {
        color: #d3869b;
        border-color: #d3869b;
    }
}