@use "../mixins/inactive" as *;

.toggle-button {
    margin: .375rem .375rem 0 0;
    border-radius: 4px;

    width: 12.625rem;
    /* As defined for most buttons in the game */

    display: flex;
    text-align: center;
    justify-items: center;

    color: #83a598;
    background-color: transparent;
    border-color: #3c3836;
    border-style: solid;
    border-width: 1px;

    transition: all 200ms ease;

    cursor: pointer;

    &:hover {
        background-color: #504945;
    }

    &.toggled {
        border-color: #83a598;
    }

    &.inactive,
    &.inactive:hover {
        @include inactive;

        &.toggled {
            border-color: #83a598;
        }
    }

    span {
        flex: 1;
    }
}